h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
}

ul,
li {
    list-style: none;
    text-decoration: none;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.04em;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


*,
*::after,
*::before {
    box-sizing: inherit;
}