:root {
    --primary-white-color: #FFFFFF;
    --primary-title-color: #D41443;
    --secondary-title-color: #FFA5BA;
    --hero-background-color: #FFB8CA;
    --background-color: #FFF5F6;
    --primary-text-color: #000000;
    --secondary-text-color: #907E82;
    --product-coffee-color: #F0D1A5;
    --product-milk-color: #C2E297;
    --background-color-reviews: #fafafa;
}

