<section id="about" class="section about">
    <div class="container">
        <p class="about__header">TRADITION AND LOVE</p>
        <h2 class="about__title">HOW IT`S MADE?</h2>
        <div class="about__box">
            <picture class="about__img">
                <source media="(max-width: 767px)" srcset="
                  ./images/about/mobile/about-cow-mob-x1.png 1x,
                  ./images/about/mobile/about-cow-mob-x2.png 2x
                " type="image/png" />
                <source media="(min-width: 768px) and (max-width: 1199.98px)" srcset="
                  ./images/about/tablet/about-cow-tab-x1.png 1x,
                  ./images/about/tablet/about-cow-tab-x2.png 2x
                " type="image/png" width="336" height="335" />
                <source media="(min-width: 1200px)" srcset="
                  ./images/about/desktop/about-cow-des-x1.png 1x,
                  ./images/about/desktop/about-cow-des-x2.png 2x
                " type="image/png" width="501" height="501" />
                <img class="about__cow" src="./images/about/mobile/about-cow-mob-x1.png" alt="cow and jug of milk"
                    width="280" height="279" />
            </picture>
            <div class="about__thumb">
                <p class="about__text">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
                    justo cursus, faucibus lorem eget, egestas eros. Maecenas
                    eleifend erat at justo fringilla.
                </p>
                <p class="about__text about__text--color">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio
                    elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
                    euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
                    Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean
                    accumsan.
                </p>
                <button class="about__button" type="button" aria-label="Read more button" data-modal-about-open>
                    Read more<span class="about__logo">&#62;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="backdrop-about is-hidden" data-modal-about>
        <div class="modal-about">
            <button class="modal-about__close-btn" type="button" data-modal-about-close>
                <svg class="modal-about__close-icon">
                    <use href="./images/icons.svg#icon-close-contacts"></use>
                </svg>
            </button>
            <p class="modal-about__text">Read more</p>
            <div class="about-modal__readmore-text">
                <h3 style="text-align:center">How the ice cream production process works: a simple algorithm</h3>
                <p>
                    Ice cream production technology consists of several stages:
                    </p>
                    <p>
                    1. preparation of raw materials from which the product will be made later;
                    <br>2. mixing of all necessary components, in accordance with the recipe and state regulations;
                    <br>3. filtering the obtained mass;
                    <br>4. pasteurization (heating) and homogenization (grinding) of the mass;
                    <br>5. cooling;
                    <br>6. mass freezing (saturation of ice cream with air);
                    <br>7. hardening (the process of "freezing" excess moisture);
                    <br>8. packing and packaging of the product;
                    <br>9. storage until the moment of transfer to the point of sale.
                    </p>
                                   
                
                <h3 style="text-align:center">Ultrafiltration</h3>
                <p>
                    This moves milk across a membrane under moderate pressure, which holds
                    back protein, fat globules, and a large amount of calcium complexes.
                    Water and lactose (the sugar in milk) pass through, leaving behind a
                    very protein and calcium-rich product. The fat content can be adjusted
                    to suit consumer preference.
                </p>
                <h3 style="text-align:center">Homogenisation</h3>
                <p>
                    Milk is put under pressure through fine nozzles, which evenly disperses
                    fat globules. This stops the cream separating and rising to the top,
                    allowing a more consistent texture and taste. Some manufacturers produce
                    unhomogenised milk for people who prefer the cream to separate and rise
                    to the top of the bottle. Today's farm technology, cattle management and
                    factory methods allow for greater consistency of milk, and milk
                    composition can be adjusted for year-round consistency. Milk composition
                    is standardised so elements like fat content are made consistent no
                    matter the season or breed of cow the milk comes from. The composition
                    of milk is governed by the Food Standards Australia New Zealand Food
                    Standards Code. These standards are consistent with international
                    standards – milk consumed in nearly all developed countries will have
                    very similar standards. The Code allows manufacturers to add or withdraw
                    milk components to standardise the composition of milk sourced from
                    dairy farms, as required, to produce nutritionally consistent and safe
                    products. Under the Code, the standard for packaged full-fat milk
                    requires that it contain at least 3.2% of fat and 3.0% of protein.
                </p>
                <h3 style="text-align:center">Permeate</h3>
                <p>
                    In order to standardise milk year-round, some manufacturers use a
                    process called ultrafiltration where a membrane filter separates certain
                    elements from milk (just like in the descriptions above). Milk is passed
                    through a very fine filter, and the lactose (milk sugar), vitamins and
                    minerals that filter through are referred to as "permeate". Permeate is
                    a technical term which applies to all membrane filtration processes used
                    across food production and other industries. For example, when producing
                    apple juice the fruit is put through a similar filtration process where
                    permeate is the clear juice we end up buying and consuming. In milk
                    processing, the word "permeate" does not refer to anything added which
                    was not already part of milk. That filter helps milk producers make milk
                    with consistent properties, which helps it conform to the Food Standards
                    Australia New Zealand Food Standards Code.
                </p>
            </div>
            <!-- <div class="modal-about__map">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SYeM_mkGS-c" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div> -->
        </div>
    </div>
</section>