<section class="advantages" id="advantages">
    <div class="container" >
    <div class=" advantages__conteiner">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <span class="advantages__span advantages__span-milk">721</span>
                 <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__span advantages__span-apple">16kg</span>
                 <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__span advantages__span-heart">84</span>
                 <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
    </div>
</section>