<section class="contacts-section">
    <div class="container">
        <h2 class="visually-hidden">Our representation</h2>
        <ul class="contacts-section__cart-list">
            <li class="contacts-section__item">
                <div class="contacts-section__text">
                    <p class="contacts-section__place">CAFE</p>
                    <h3 class="contacts-section__subtitle">Chicago</h3>
                    <p class="contacts-section__text-item">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-section__schedule">
                    <h3 class="day contacts-section__subtitle">Monday - Friday</h3>
                    <p class="contacts-section__time-information">06:00 AM - 10:00 PM</p>
                    <h3 class="day contacts-section__subtitle">Saturday - Sunday</h3>
                    <span class="contacts-section__time-information">08:00 AM - 16:00 PM</span>
                </div>
                <div class="contacts-section__contacts">
                    <a href="tel:+61038766284" class="contacts-section__contact">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-section__contact">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts-section__item">
                <div class="contacts-section__text">
                    <p class="contacts-section__place contacts-section__place--accent">FOOD TRUCK</p>
                    <h3 class="contacts-section__subtitle">Los Angeles</h3>
                    <p class="contacts-section__text-item">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-section__schedule">
                    <h3 class="day contacts-section__subtitle">Monday - Friday</h3>
                    <p class="contacts-section__time-information">06:00 AM - 10:00 PM</p>
                    <h3 class="day contacts-section__subtitle">Saturday - Sunday</h3>
                    <span class="contacts-section__time-information">08:00 AM - 16:00 PM</span>
                </div>
                <div class="contacts-section__contacts">
                    <a href="tel:+61038766284" class="contacts-section__contact">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-section__contact">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts-section__item">
                <div class="contacts-section__text">
                    <p class="contacts-section__place">CAFE</p>
                    <h3 class="contacts-section__subtitle">New York</h3>
                    <p class="contacts-section__text-item">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-section__schedule">
                    <h3 class="day contacts-section__subtitle">Monday - Friday</h3>
                    <p class="contacts-section__time-information">06:00 AM - 10:00 PM</p>
                    <h3 class="day contacts-section__subtitle">Saturday - Sunday</h3>
                    <span class="contacts-section__time-information">08:00 AM - 16:00 PM</span>
                </div>
                <div class="contacts-section__contacts">
                    <a href="tel:+61038766284" class="contacts-section__contact">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-section__contact">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <ul class="contacts-section__btn-list">
            <li class="contacts-section__btn-link contacts-section__btn-link--one">
                <button class="contacts-section__btn contacts-section__btn--one">Our Locations
                    <svg class="contacts-section__icon--one">
                        <use href="./images/icons.svg#icon-vector-1"></use>
                    </svg>
                </button>
            </li>
            <li class="contacts-section__btn-link">
                <button class="contacts-section__btn contacts-section__btn--two">Franchise
                    <svg class="contacts-section__icon--two">
                        <use href="./images/icons.svg#icon-vector-2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>

<div class="backdrop-contacts is-hidden" data-modal-contacts>
    <div class="modal-contacts">
        <button class="modal-contacts__close-btn" type="button" data-modal-contacts-close>
            <svg class="modal-contacts__close-icon">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-contacts__text">Our Locations</p>
        <div class="modal-contacts__map">
            <iframe class="modal-contacts__google-map"
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d63595.007198440435!2d30.547525768004746!3d50.453828707853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sMcDonald&#39;s!5e0!3m2!1suk!2sua!4v1660585594855!5m2!1suk!2sua"
                style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>