<footer class="footer">
    <div class="footer__wrap сontainer">
        <div class="footer__container">
            <div class="title__container">
                <p class="footer__title">homemade ice cream made</p>
                <p class="footer__text">with passion</p>
            </div>
            <div class="double-container">
                <div class="list-flex">
                    <ul class="icon-list">
                        <li class="icon-list__item">
                            <a href="https://www.github.com/" target="_blank" class="icon-list__link">
                                <svg class="icon-list__icon">
                                    <use href="./images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="icon-list__item">
                            <a href="https://телеграм.онлайн/" target="_blank" class="icon-list__link">
                                <svg class="icon-list__icon">
                                    <use href="./images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="icon-list__item">
                            <a href="https://www.facebook.com/" target="_blank" class="icon-list__link">
                                <svg class="icon-list__icon">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="phone-flex">
                    <p class="phone__text">Feel free to contact
                        <a href="tel:++61(0)383766284" class="phone__link">+61 (0) 383 766 284</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="reserver-container">
            <span class="footer__reserved--first">&#169; 2022 - IceCream.&nbsp;</span>
            <span class="footer__reserved--second">All Rights Reserved.</span>
        </div>
    </div>
</footer>