<footer class="footer">
    <div class="footer__wrap сontainer">
        <div class="footer__container">
            <div class="title__container">
                <h1 class="footer__title">homemade ice cream made</h1>
                <span class="footer__text">with passion</span></h1>
            </div>
            
            <div class="double-container">
            
                <div class="list-flex">
                    <ul class="icon-list">
                        <li class="icon-list__item">
                            <a href="https://www.github.com/" target="_blank" class="icon-list__link">
                                <svg width="32px" height="32px">
                                    <use href="./images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="icon-list__item">
                            <a href="https://телеграм.онлайн/" target="_blank" class="icon-list__link">
                                <svg width="32px" height="32px">
                                    <use href="./images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="icon-list__item">
                            <a href="https://www.facebook.com/" target="_blank" class="icon-list__link">
                                <svg width="32px" height="32px">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            
                <div class="phone-flex">
                    <p class="phone__text">Feel free to contact
                        <a href="tel:++61(0)383766284" class="phone__link">+61 (0) 383 766 284</a>
                    </p>
                </div>
            
            </div>
        </div>

        <div class="reserver-container">
            <span class="footer__reserved--first">&#169 2022 - IceCream.</span>
            <span class="footer__reserved--second">All Rights Reserved.</span>
        </div>

        
    </div>
</footer>