<header class="header">
  <div class="container">
    <nav class="nav">
      <svg class="nav__logo" width="199px" height="50px">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>

      <div data-menu class="mobal-menu">
        <ul class="nav__list">
          <li>
            <a class="nav__link current" href="./index.html#Home">Home</a>
          </li>
          <li>
            <a class="nav__link" href="./index.html#About us">About us</a>
          </li>
          <li>
            <a class="nav__link" href="./index.html#How it’s made?"
              >How it’s made?</a
            >
          </li>
          <li>
            <a class="nav__link" href="./index.html#Our products"
              >Our products</a
            >
          </li>
          <li><a class="nav__link" href="./index.html#Contact">Contact</a></li>
        </ul>
      </div>

      <button data-menu-button class="nav__burger-button">
        <svg width="20px" height="12px">
          <use
            class="nav__icon-burger"
            href="./images/icons.svg#icon-burger"
          ></use>
          <use
            class="nav__icon-close"
            href="./images/icons.svg#icon-close"
          ></use>
        </svg>
      </button>
      <button class="order-button order-button--tablet" type="button">
        <svg width="90px" height="44px">
          <use href="./images/icons.svg#icon-buy"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
