
<header class="header">
  <div class="container main-fix">
    <nav class="nav main-fix--second ">
      <svg class="nav__logo" width="199px" height="50px">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>

      <div data-menu class="mobal-menu">
        <ul class="nav__list">
          <li>
            <a class="nav__link" href="./index.html#Home">Home</a>
          </li>
          <li>
            <a class="nav__link" href="./index.html#About_us">About us</a>
          </li>
          <li>
            <a class="nav__link" href="./index.html#How_it’s_made?"
              >How it’s made?</a
            >
          </li>
          <li>
            <a class="nav__link" href="./index.html#Our_products"
              >Our products</a
            >
          </li>
          <li><a class="nav__link" href="./index.html#Contact">Contact</a></li>
        </ul>
      </div>

      <button data-menu-button class="nav__burger-button">
        <svg width="20px" height="12px">
          <use
            class="nav__icon-burger"
            href="./images/icons.svg#icon-burger"
          ></use>
          <use
            class="nav__icon-close"
            href="./images/icons.svg#icon-close"
          ></use>
        </svg>
      </button>
      <button class="order-button order-button--tablet" type="button" data-modal-open>
        <span class="Nav__button-text">Buy now</span>
        <svg width="7px" height="10px">
          <use href="./images/icons.svg#icon-buy"></use>
        </svg>
      </button>
    </nav>
    <div class="main-fix">
      <div class="tagline-conteiner">
        <h1 class="tagline">ice cream<br>made with<br><span class="tagline-passion">passion</span></h1>
      </div>
      <button class="button-product" type="button">
        <a href="#00001" class="button-product__text--white">Products</a>
      </button>
      <button class="button-how-its-made"  type="button">
        <a href="#about" class="button-how-its-made__text--pink">How it’s made?</a>
      </button>
      <div class="hero-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </div>
      <button class="text-button" type="button"></button>
      <p class="flex-conteiner upper"><span class="upper__number">16</span>cafes</p>
      <p class="flex-conteiner bottom"><span class="bottom__number">23</span>food trucks</p> 
   
    </div>
  </div>
</header>
