<header class="header">
  <div class="container">
    <nav class="nav">
      <svg class="nav__logo" width="199px" height="50px">
        <use href="./images/icon.svg#icon-logo"></use>
      </svg>

      <div data-menu class="mobal-menu">
        <button class="order-button" type="button">
          <svg width="90px" height="44px">
            <use href="./images/icon.svg#icon-buy"></use>
          </svg>
        </button>
        <ul class="nav__list">
          <li>
            <a class="nav__link current" href="./index.html#Home">Home</a>
          </li>
          <li>
            <a class="nav__link" href="./index.html#About us">About us</a>
          </li>
          <li>
            <a class="nav__link" href="./index.html#How it’s made?"
              >How it’s made?</a
            >
          </li>
          <li>
            <a class="nav__link" href="./index.html#Our products"
              >Our products</a
            >
          </li>
          <li><a class="nav__link" href="./index.html#Contact">Contact</a></li>
        </ul>
      </div>

      <button data-menu-button class="nav__burger-button">
        <svg width="20px" height="12px">
          <use
            class="nav__icon-burger"
            href="./images/icon.svg#icon-burger"
          ></use>
          <use
            class="nav__icon-close"
            href="./images/icon.svg#icon-close"
          ></use>
        </svg>
      </button>
      <button class="order-button order-button--tablet" type="button">
        <svg width="90px" height="44px">
          <use href="./images/icon.svg#icon-buy"></use>
        </svg>
      </button>
    </nav>
    <div class="tagline-conteiner">
      <h1 class="tagline">ice cream<br>made with<br><span class="tagline-passion">passion</span></h1>
    </div>
    <button class="button-product" type="button"><a href="#" id="#" class="button-product__text--white">Products</a></button>
    <button class="button-how-its-made"  type="button"><a href="#" id="#" class="button-how-its-made__text--pink">How it's made?</a></button>
    <div class="girl">
      <img src="./images/hero.scss/girl1x.png" alt="girl">
    </div>
    <div class="milk">
      <img src="./images/hero.scss/milk1x.png" alt="milk">
    </div>
    <div class="hero-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
    <button class="text-button" type="button"></button>
    <p class="flex-conteiner upper"><span class="upper__number">16</span>cafes</p>
    <p class="flex-conteiner bottom"><span class="bottom__number">23</span>food trucks</p> 
  </div>
</header>
