<section class="products">
    <div class="container">
        <span class="products__label">100% natural</span>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__items">
                <!-- <picture>
                    <source srcset="
                        ./images/products/home-pic1-280@1x.png 1x,
                        ./images/products/home-pic1-560@2x.png 2x
                        " media="(max-width: 767px)" />
                    <source srcset="
                        ./images/products/home-pic1-224@1x.png 1x,
                        ./images/products/home-pic1-448@2x.png 2x
                        " media="(max-width: 1199px)" />
                    <source srcset="
                        ./images/products/home-pic1-368@1x.png 1x,
                        ./images/products/home-pic1-736@2x.png 2x
                        " media="(min-width: 1200px)" />
                    <img class="products__picture" src="./images/products/home-pic1-280@1x.png" alt="ice cream" />
                </picture> -->
                <h3 class="products__title--list">ice cream</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button">
                    <img src="./images/products/arrow-right 1.png" alt="arrow right">
                </button>
            </li>
            <li class="products__items products__items--coffee">
                <!-- <picture>
                    <source srcset="
                        ./images/products/home-pic2-280@1x.png 1x,
                        ./images/products/home-pic2-560@2x.png 2x
                        " media="(max-width: 767px)" />
                    <source srcset="
                        ./images/products/home-pic2-224@1x.png 1x,
                        ./images/products/home-pic2-448@2x.png 2x
                        " media="(max-width: 1199px)" />
                    <source srcset="
                        ./images/products/home-pic2-368@1x.png 1x,
                        ./images/products/home-pic2-736@2x.png 2x
                        " media="(min-width: 1200px)" />
                    <img class="products__picture" src="./images/products/home-pic2-280@1x.png" alt="ice cream" />
                </picture> -->
                <h3 class="products__title--list">ice coffee</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button">
                    <img src="./images/products/arrow-right 1.png" alt="arrow right">
                </button>
            </li>
            <li class="products__items products__items--milk">
                <!-- <picture>
                    <source srcset="
                        ./images/products/home-pic3-280@1x.png 1x,
                        ./images/products/home-pic3-560@2x.png 2x
                        " media="(max-width: 767px)" />
                    <source srcset="
                        ./images/products/home-pic3-224@1x.png 1x,
                        ./images/products/home-pic3-448@2x.png 2x
                        " media="(max-width: 1199px)" />
                    <source srcset="
                        ./images/products/home-pic3-368@1x.png 1x,
                        ./images/products/home-pic3-736@2x.png 2x
                        " media="(min-width: 1200px)" />
                    <img class="products__picture" src="./images/products/home-pic3-280@1x.png" alt="ice cream" />
                </picture> -->
                <h3 class="products__title--list">milkshakes</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button">
                    <img src="./images/products/arrow-right 1.png" alt="arrow right">
                </button>
            </li>
        </ul>
    </div>
</section>