<section class="products" id="00001">
    <div class="container">
        <span class="products__label">100% natural</span>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__items">
                <div class="products__thumb">
                    <div class="products__inner">
                        <h3 class="products__title--list">ice cream</h3>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et</p>
                        <button class="products__button" type="button">
                            <img class="products__button--right" width="40" height="40" src="./images/products/arrow-right.png"
                                alt="arrow right">
                        </button>
                    </div>
                    <div class="products__back">
                        <p class="products__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ipsa excepturi ut dolorem,
                            sint nobis. Porro cum consequatur magnam modi?</p>
                    </div>
                </div>
            </li>
            <li class="products__items products__items--coffee">
                <h3 class="products__title--list">ice coffee</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button">
                    <img class="products__button--right" width="40" height="40" src="./images/products/arrow-right.png" alt="arrow right">
                </button>
            </li>
            <li class="products__items products__items--milk">
                <h3 class="products__title--list">milkshakes</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button">
                    <img class="products__button--right" width="40" height="40" src="./images/products/arrow-right.png" alt="arrow right">
                </button>
            </li>
        </ul>
    </div>
</section>