<section class="reviews container">
    <div class="slider">
        <div class="slider__item">
            <div class="slider__img">
                <img class="slider__img" srcset="/src/images/reviews-section/emily.png 1x, /src/images/reviews-section/emily_2x.png 2x"
                    src="/src/images/reviews-section/emily.png" alt="girl" />
            </div>

            <div class="reviews__bg">
                <div class="reviews__thumb">
                    <p class="revies__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
            </div>
            <p class="revies__user">Emily, Los Angeles</p>
        </div>
        <div class="slider__item">
            <div class="slider__img">
                <img class="slider__img" srcset="/src/images/reviews-section/jenny.png 1x, /src/images/reviews-section/jenny_2x.png 2x"
                    src="/src/images/reviews-section/jenny.png" alt="girl" />
            </div>
            <div class="reviews__bg">
                <div class="reviews__thumb">
                    <p class="revies__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
            </div>
            <p class="revies__user">Jenny, New York</p>
        </div>
        <div class="slider__item">
            <div class="slider__img">
                <img class="slider__img" srcset="/src/images/reviews-section/eva.png 1x, /src/images/reviews-section/eva_2x.png 2x"
                    src="/src/images/reviews-section/eva.png" alt="girl" />
            </div>

            <div class="reviews__bg">
                <div class="reviews__thumb">
                    <p class="revies__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
            </div>
            <p class="revies__user">Eva, Denver</p>
        </div>
    </div>
</section>