<section class="reviews container">
    <div class="slider">
        <div class="slider__item"><img class="slider__img" src="/src/images/reviews-section/testimonials1.png" alt=""></div>
        <div class="reviews__bg">
            <div class="reviews__thumb">
                <p class="revies__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <p class="revies__user">Emily, Los Angeles</p>
    </div>
</section>