// Стили для секции advantages
.visually-hidden{
    display: none;
}


.advantages{
    background-color: var(--background-color);
    padding-bottom: 87px;

    @media screen and (min-width: 768px) {
        padding-bottom: 187px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 209px;
      }
}



.advantages__list{
    @media screen and (min-width: 768px) {
        display: flex;
    
    }
   
}


.advantages__item{
  @media screen and (max-width: 767px) {
    width: 230px; 
      
  
    
  }
//  @media screen and (max-width: 768px) {
//      width: calc((100% - 90px) / 3);
      
//   }
  
//  @media screen and (max-width: 1200px){
//      width: calc((100% - 120px) / 3);
    
//   }
    
}

.advantages__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-right: 80px;
    }
  }


.advantages__span{
  display: inline-block;
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
    color: var(--primary-title-color);


  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
    font-size: 58px;
  }
}

.advantages__span::before{
    content: " ";
    width: 33px;
    height: 50px;
    background-image: url('../images/avantage/advantages1-milk.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 16px;
    display: block;

    @media screen and (min-width: 320px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 36px;  
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 40px; 
    }

}

.advantages__span-apple::before{
    content: " ";
    width: 50px;
    height: 50px;
    background-image: url('../images/avantage/advantages2-apple.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 16px;
    display: block;

    @media screen and (min-width: 320px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 36px;  
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 40px; 
    }


}

.advantages__span-heart::before{
    content: " ";
    width: 44px;
    height: 50px;
    background-image: url('../images/avantage/advantages3-heart.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 16px;
    display: block;

    @media screen and (min-width: 320px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 36px;  
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 40px; 
    }

}

.advantages__text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);


  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
  }

}