.footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    background-color: var(--background-color);
}

.footer__wrap {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer__title {
    margin-bottom: 16px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    color: var(--secondary-title-color);
}

.footer__text {
    margin-bottom: 40px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-title-color);
}


.phone__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22;
    color: var(--primary-text-color);
}


.phone__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22;
    color: var(--primary-title-color);
    text-decoration: none;
}

// .footer__reserved {
//     display: block;
//     font-family: 'DM Sans';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 21;
//     text-align: center;
//     color: var(--secondary-text-color);
// }

.icon-list {
    display: inline-flex;
    margin-bottom: 40px;
}

.icon-list__item:not(:last-child) {
    margin-right: 28.24px;
}


.double-container {
    display: flex;
    flex-direction: column;
}

.list-flex {
    display: flex;
    margin-left: auto;
}

.phone-flex {
    display: flex;
}