.footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    background-color: var(--background-color);
}

.footer__wrap {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;

    @media screen and (max-width:767px) {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
    }

    @media screen and (min-width:768px) and (max-width:1199px)  {
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
    }

    @media screen and (min-width:1200px) {
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
    }

    @media screen and (min-width: 320px) {
        width: 320px;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.footer__container {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.footer__title {
    margin-bottom: 16px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    color: var(--secondary-title-color);

    @media screen and (min-width:768px) and (max-width:1199px) {
            margin-bottom: 12px;
            font-size: 26px;
            line-height: 1.15;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        font-size: 30px;
        line-height: 1.13;
    }

    
}

.footer__text {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-title-color);

    @media screen and (min-width:768px) and (max-width:1199px) {
        font-size: 48px;
        line-height: 1.14;
        letter-spacing: 0.06em;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 1.13;
        letter-spacing: 0.06em;
    }
}


.phone__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    color: var(--primary-text-color);

    @media screen and (min-width:768px) and (max-width:1199px) {
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.86;
        letter-spacing: 0.02em;
    }
}


.phone__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    color: var(--primary-title-color);
    text-decoration: none;

    @media screen and (min-width:768px) and (max-width:1199px) {
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.86;
        letter-spacing: 0.02em;
    }
}

.footer__reserved--first,
.footer__reserved--second {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    color: var(--secondary-text-color);

    @media screen and (min-width:768px) and (max-width:1199px) {
        line-height: 1.86;
        letter-spacing: 0.02em;
    }

    @media screen and (min-width: 1200px) {
        line-height: 1.86;
        letter-spacing: 0.02em;
    }
}

.reserver-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: 56px;
    border-top: 1px solid #E1E1E1;

    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-top: 48px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 67px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

.icon-list {
    display: inline-flex;
    align-items: center;

    // margin-left: 132px;
    // margin-right: 3.53px;
    // margin-bottom: 40px;
}

.icon-list__item:not(:last-child) {
    margin-right: 28.24px;
}

.icon-list__link {
    fill: var(--icon-main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--primary-title-color);
    }
}


.double-container {
    text-align: right;

    // @media screen and (min-width: 1200px) {
        
    //     // display: flex;
    //     // flex-direction: column;
    // }
}

.list-flex {
    margin-bottom: 40px;
    // display: flex;
}

.phone-flex {
    @media screen and (min-width: 1200px) {
        width: 319px;
        display: flex;
        flex-direction: row;
        // margin-right: auto;
        

    }
    // text-align: right;
}

.title__container {
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
        width: 234px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 340px;
        margin: 0;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
    }

    // @media screen and (min-width: 1200px) {
    //     display: flex;
    //     flex-direction: column;
    // }

   
    // margin-right: auto;

    // display: flex;
    // flex-direction: column;
}