// Стили для хедера
  .header {
    position: absolute;
    padding: 0 20px;
    height: 502px;
    background-color:var(--hero-background-color);
    width: 100%;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
  }
  .nav__burger-button {
    border: none;
    outline: none;
    background-color: transparent;
    z-index: 10;
  }
  .order-button {
    display: block;
    margin: 60px auto 20px auto;
    width: 209px;
    height: 44px;
    background:var( --primary-white-color);
    border-radius: 22px;
    padding: 0 48px;
    color: var(--primary-title-color);
  }
  
  .nav__link {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e18298;
    border-top: 1px solid #e18298;
    height: 42px;
    align-items: center;
    padding-left: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color:var( --primary-white-color);
  }
  .nav__link:active{
      color: var(--primary-title-color);
  }
  .mobal-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    background: #e17992;
  }
  .mobal-menu.is-open {
    transform: translateX(0%);
  }
  .nav__burger-button .nav__icon-close {
    display: none;
  }
  .nav__burger-button.is-open {
    & .nav__icon-burger {
      display: none;
    }
    & .nav__icon-close {
      display: block;
    }
  }
  