.tagline {
  @media (max-width: 767px) {
    margin-top: 139px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }

  @media (min-width: 768px) {
    margin-top: 20px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }

  @media (min-width: 1200px) {
    margin-top: 75px;
    margin-left: 0;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
}

.girl {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media (min-width: 1200px) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 304px;
    height: 241px;
  }
}

.milk {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    left: 32px;
    bottom: 16px;
    width: 152px;
    height: 154px;
  }

  @media (min-width: 1200px) {
    display: block;
    position: absolute;
    left: 32px;
    bottom: 60px;
    width: 213px;
    height: 216px;
  }
}

.hero-text {
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
    position: absolute;
    left: 156px;
    bottom: -108px;
    width: 114px;
    height: auto;
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: var(--primary-white-color);
  }

  @media (min-width: 1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    width: 200px;
    height: auto;
    
    margin-bottom: 20px;
    bottom: -180px;
    left: 215px;
}
  

  &::after {
    @media (min-width: 768px) {
      position: absolute;
      background: url('../images/hero.scss/girl1x.png');
      content: '';
      width: 190px;
      height: 150px;
      top: -12px;
      left: 360px;
      z-index: 18;
      background-repeat: no-repeat;
    }

    @media (min-width: 1200px) {
      position: absolute;
      background: url('../images/hero.scss/girl2x.png');
      content: '';
      width: 303px;
      height: 241px;
          top: -35px;
      left: 649px;
      z-index: 18;
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      @media (min-width: 768px) {
        position: absolute;
        background: url('../images/hero.scss/girl2x.png');
        content: '';
        width: 190px;
        height: 150px;
        top: -11px;
        left: 369px;
        z-index: 18;
        background-repeat: no-repeat;
        background-size: contain;
      }

      @media (min-width: 1200px) {
        position: absolute;
        background: url('../images/hero.scss/girl2x.png');
        content: '';
        width: 303px;
        height: 241px;
        top: -35px;
        left: 645px;
        z-index: 18;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &::before {
    @media (min-width: 768px) {
      position: absolute;
      background: url('../images/hero.scss/milk1x.png');
      content: '';
      width: 152px;
      height: 154px;
      top: -41px;
      left: -152px;
      z-index: 18;
      background-repeat: no-repeat;
    }

    @media (min-width: 1200px) {
      position: absolute;
      background: url('../images/hero.scss/milk2x.png');
      content: '';
      width: 213px;
      height: 216px;
      top: -70px;
      left: -214px;
      z-index: 18;
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      @media (min-width: 768px) {
        position: absolute;
        background: url('../images/hero.scss/milk2x.png');
        content: '';
        width: 152px;
        height: 154px;
        top: -40px;
        left: -150px;
        z-index: 18;
        background-repeat: no-repeat;
        background-size: contain;
      }

      @media (min-width: 1200px) {
        position: absolute;
        background: url('../images/hero.scss/milk2x.png');
        content: '';
        width: 213px;
        height: 216px;
        top: -70px;
        left: -214px;
        z-index: 18;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

.text-button {
  display: none;
  cursor: pointer;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
   
    bottom: -130px;
    left: 156px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: transparent;
    border-radius: 50%;

    &::after {
      position: absolute;
      background: url('../images/hero.scss/arrow-right_18x18.svg');
      content: '';
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      bottom: 0px;
      left: 0;
      z-index: 18;
    }
  }

  @media (min-width: 1200px) {
    width: 26px;
    height: 26px;
    bottom: -201px;
    left: 216px;


    &::after {
      position: absolute;
      background: url('../images/hero.scss/arrow-right_26x26.svg');
      content: '';
      width: 26px;
      height: 26px;
      background-repeat: no-repeat;
      bottom: 0px;
      left: 0;
      z-index: 18;
    }
  }
}

.flex-conteiner {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: var(--primary-white-color);
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-align: right;
    color: var(--primary-white-color);
  }
}

.upper {
    top: -4px;
    right: 8px;

  @media (min-width: 1200px) {
    top: -8px;
    right: 15px;
    margin-bottom: 38px;
  }

  &::after {
    position: absolute;
    right: -8px;
    bottom: 30px;
    z-index: 18;
    content: '';
    width: 16px;
    height: 16px;
    background-color: var(--primary-white-color);
    border-radius: 50%;

    @media (min-width: 1200px) {
      position: absolute;
      right: -8px;
      bottom: 50px;
      z-index: 18;
      content: '';
      width: 30px;
      height: 30px;
      background-color: var(--primary-white-color);
      border-radius: 50%;
    }
  }
}

.bottom {
    top: 63px;
    right: 8px;

  @media (min-width: 1200px) {
    top: 76px;
    right: 15px;
}

  &::after {
    position: absolute;
    right: -8px;
    bottom: 30px;
    z-index: 18;
    content: '';
    width: 16px;
    height: 16px;
    background-color: var(--primary-white-color);
    border-radius: 50%;

    @media (min-width: 1200px) {
      position: absolute;
      right: -8px;
      bottom: 46px;
      z-index: 18;
      content: '';
      width: 30px;
      height: 30px;
      background-color: var(--primary-white-color);
      border-radius: 50%;
    }
  }
}

.upper__number,
.bottom__number {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  z-index: 20;

  @media (min-width: 1200px) {
    font-weight: 400;
    font-size: 46px;
    line-height: 1.15;
    z-index: 20;
  }
}

.tagline-passion {
  @media (max-width: 767px) {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96.5%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-title-color);
  }

  @media (min-width: 768px) {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 0.91;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-title-color);
  }

  @media (min-width: 1200px) {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 0.9;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-title-color);
  }
}

.button-product {
  width: 62.4px;
  height: 24px;
  margin-top: 20px;
  margin-right: 8px;
  margin-left: 8px;
  background: var(--primary-title-color);
  border-radius: 20px;
  border: transparent;
  cursor: pointer;

  @media (min-width: 768px) {
    margin-left: 0;
    width: 62.4px;
    height: 24px;
  }

  @media (min-width: 1200px) {
    margin-left: 0;
    width: 107px;
    height: 40px;
  }

  &__text--white {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'DM Sans, sans serif';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: var(--primary-white-color);

    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28;
      color: var(--primary-white-color);
    }
  }
}

.button-how-its-made {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  cursor: pointer;
  color: #d41443;
  width: 82.8px;
  height: 24px;
  margin-top: 20px;
  background: var(--primary-white-color);
  border-radius: 20px;
  border: transparent;

  @media (min-width: 768px) {
    width: 82.8px;
    height: 24px;
  }

  @media (min-width: 1200px) {
    width: 138px;
    height: 40px;
  }

  &__text--pink {
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 19;
    justify-content: center;
    font-family: 'DM Sans, sans serif';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: var(--primary-title-color);

    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28;
      color: var(--primary-title-color);
    }
  }
}

.tagline-conteiner {
  z-index: 50;
}
