.backdrop {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    visibility: visible;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    overflow-y: scroll;
}

.backdrop__is-hidden {
    visibility: hidden;
    pointer-events: none;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
    opacity: 0;
}

.modal {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: calc(100vw - 80px);
    background-color: var(--secondary-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 24px;

        @media screen and (min-width: 768px) {
            width: 500px;
        }
}

.modal__btn-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary-title-color);
    border-radius: 50%;
    background-color: var(--icon-main-color);
    fill: var(--primary-title-color);
    cursor: pointer;
}

.modal__btn-close:hover,
.modal__btn-close:focus {
    fill: var(--primary-white-color);
}

.modal__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.modal__text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
    color: var(--primary-title-color);
}
.product__thumb--img {
    margin: auto;
}
.product__thumb--img:hover {
    transform: translateX(0) scale(3.5);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__thumb--name {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.31;
    color: var(--primary-title-color);
}
.product__thumb--price {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.31;
    color: var(--primary-white-color);
}
.modal-product__list {
    display: flex;
    margin: -15px;

    @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
}
.modal-product__item {
    width: calc((100% - 3 * 15px) / 3);
    margin: 15px;
    text-align: center;
}
.thumb__form-input {
    width: 50px;
}
.form__field {
    position: relative;
    margin-bottom: 10px;
    text-align: start;
}

.form__label {
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-white-color);
}

.form__input {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

}

.form__input:hover,
.form__input:focus {
    border: 1px solid var(--primary-title-color);
}

.form__input~.form__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    bottom:9px;
    left: 11px;
    fill: var(--secondary-title-color);
}

.form__input:hover~.form__icon,
.form__input:focus~.form__icon {
    fill: var(--primary-title-color);
}

.form__feetback {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 80px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

}

.form__feetback:hover,
.form__feetback:focus {
    border: 1px solid var(--primary-title-color);
}

.form__feetback::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__check-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.16;
    color: var(--primary-white-color);

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.check-box__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.check-box__icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin-right: 8px;
    margin-left: 0;
    border: 2px solid var(--primary-title-color);
    border-radius: 2px;
    background-color: var(--hero-background-color);
}

.check-box__input:checked+.check-box__icon {
    background-color: var(--primary-title-color);
    background-origin: border-box;
    border-color: var(--secondary-title-color);
}

.form__btn-submit {
    display: block;
    margin: auto;
    width: 107px;
    height: 40px;
    background: var(--primary-title-color);
    border-radius: 20px;
    border: transparent;
    color: var(--primary-white-color);
    transition: box-shadow .35s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
}