.products {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;

    @media screen and (min-width: 1200px) {
        padding: 61px 16px 60px 16px;
    }    
}

.products__list {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 16px;
        justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
        gap: 32px;
    }    
}

.products__label {
    display: block;
    margin-bottom: 15px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    text-align: center;
    text-transform: uppercase;

    color: var(--secondary-title-color);

    @media screen and (min-width: 768px) {
        margin-bottom: 18px;
        font-size: 26px;
        line-height: 1.15;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
    }
}

.products__title {
    margin-bottom: 148px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--primary-title-color);

    @media screen and (min-width: 768px) {
        margin-bottom: 158px;

        font-size: 48px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 281px;
        font-size: 58px;
        line-height: 1.14;
    }
}

.products__items {
    position: relative;

    padding-top: 160px;
    padding-bottom: 40px;
    padding-left: 41px;
    padding-right: 39px;
    background: var(--hero-background-color);
    border-radius: 24px;  

    @media screen and (min-width: 768px) {
        padding-top: 118px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 165px;
        padding-left: 64px;
        padding-right: 63px;
    }

    &--coffee {
        background: var(--product-coffee-color);

        @media screen and (max-width: 767px) {
            margin-top: 140px;
        }
    }

    &--milk {
        background: var(--product-milk-color);

        @media screen and (max-width: 767px) {
            margin-top: 140px;
        }        
    }
}

.products__items::before {
    display: inline-block;
    position: absolute;
    content: ' ';
    background-image: url('/src/images/products/home-pic1-280@1x.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: -140px;
    width: 100%;
    height: 100%;
    
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('/src/images/products/home-pic1-560@2x.png');
    }

    @media screen and (min-width: 768px) {
        top: -138px;
        background-image: url('/src/images/products/home-pic1-224@1x.png');
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('/src/images/products/home-pic1-448@2x.png');
        }
    }

    @media screen and (min-width: 1200px) {
        top: -261px;
        background-image: url('/src/images/products/home-pic1-368@1x.png');
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('/src/images/products/home-pic1-736@2x.png');
        }
    }
}

.products__items--coffee::before {
    background-image: url('/src/images/products/home-pic2-280@1x.png');

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('/src/images/products/home-pic2-560@2x.png');
    }

    @media screen and (min-width: 768px) {
        top: -138px;
        background-image: url('/src/images/products/home-pic2-224@1x.png');
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('/src/images/products/home-pic2-448@2x.png');
        }
    }

    @media screen and (min-width: 1200px) {
        top: -261px;
        background-image: url('/src/images/products/home-pic2-368@1x.png');
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('/src/images/products/home-pic2-736@2x.png');
        }
    }    
}

.products__items--milk::before {
    background-image: url('/src/images/products/home-pic3-280@1x.png');

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('/src/images/products/home-pic3-560@2x.png');
    }

    @media screen and (min-width: 768px) {
        top: -138px;
        background-image: url('/src/images/products/home-pic3-224@1x.png');
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('/src/images/products/home-pic3-448@2x.png');
        }
    }

    @media screen and (min-width: 1200px) {
        top: -261px;
        background-image: url('/src/images/products/home-pic3-368@1x.png');
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('/src/images/products/home-pic3-736@2x.png');
        }
    }    
}

.products__title--list {
    position: relative;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--primary-white-color);

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.products__title--list::after {
    display: inline-block;
    content: '';
    position: absolute;
    bottom: -32px;
    left: 50%;
    
    transform: translateX(-50%);
    background-image: url(/src/images/products/group4.png);
    width: 26px;
    height: 6px;
}

.products__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    padding-bottom: 32px;
    padding-top: 70px;
    
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);

    @media screen and (min-width: 768px) {
        line-height: 1.76;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 60px;
        font-size: 16px;
    }
}

.products__button {
    display: flex;
    margin: auto;
    padding: 0;
    width: 40px;
    height: 40px;

    color: transparent;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
    background-color: inherit;

    transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 1px solid var(--primary-title-color);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.products__button--right {
    width: 100%;
    height: 100%;
}

.products__thumb {
    position: relative;
    perspective: 1000px;
}

.products__back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 1s;
    backface-visibility: hidden;

    background-color: var(--hero-background-color);
    transform: rotateY(180deg);
    border-radius: 24px;
    box-shadow: 0px 0px 13px var(--primary-title-color);

    &--coffee {
        background: var(--product-coffee-color);
        box-shadow: 0px 0px 13px #af803e;
    }

    &--milk {
        background: var(--product-milk-color);
        box-shadow: 0px 0px 13px #879d6b;
    }
}

.products__thumb:hover .products__back {
    transform: rotateY(360deg);
}

.products__desc {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 15px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);

    @media screen and (min-width: 768px) {
        line-height: 1.76;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}