.reviews {
    text-align: center;
}

.slider {
    position: relative;
    text-align: center;
}


.slider__img {
    display: inline-block;
    margin-bottom: 16px;
}

.reviews__bg {
    display: inline-block;
    background-color: var(--background-color-reviews);
    padding: 30px 50px 17px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @media screen and (min-width: 768px) {
        max-width: 620px;
        padding: 20px 6px 36px 6px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 968px;
        padding: 32px 74px 31px 72px;
    }
}

.reviews__thumb {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 35px 8px 37px;
    max-width: 822px;
    background-image: url(/src/images/reviews-section/“.png);
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        padding: 17px 40px 8px 44px;
    }

    @media screen and (min-width: 1200px) {
        padding: 15px 35px 8px 37px;
    }

}

.revies__text {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58;
    background-image: repeating-linear-gradient(to bottom, transparent, transparent 30px, #E1E1E1 31px);
    border-bottom: 1px solid #E1E1E1;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 30px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.88;
    }
}

.reviews__bg::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;

    transform: translateX(-50%);
    background-image: url(/src/images/reviews-section/3dots.png);
    width: 32px;
    height: 4px;
}

.revies__user {
    margin-top: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58;
    text-align: center;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 2.14;
    }

    @media screen and (min-width: 1200px) {
        font-size: 20px;
        line-height: 1.85;
    }
}
